
//variables
$wrapper-bg:  #596169;
$text-color:  #394955;
$body-bg:     #596169;
$black:       #4b545d;
$b:           $black;
$w:           white;
$white:       $w;
$t:           transparent;
$blue:        #69a3e5;
$grey:        #747e7f;
$green:       #5db792;
